@{
    Layout = "_ManagerLayout";
}
@model IEnvironmentRepository

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td class="label">Välj handläggare:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <form asp-controller="Manager" asp-action="Filter" type="submit">
            <td>
                <select name="errandStatus">
                    <option selected="selected">Välj alla</option>
                    @foreach (ErrandStatus errandStatus in Model.ErrandStatuses)
                    {
                        <option>@errandStatus.StatusName</option>
                    }
                </select>
            </td>
            <td>
                <select name="investigator">
                    <option selected="selected">Välj alla</option>
                    @foreach (Employee employee in Model.Employees)
                    {
                        <option>@employee.EmployeeName</option>
                    }
                </select>
            </td>
            <td><input class="button" type="submit" value="Hämta lista" /></td>
        </form>
        <form asp-controller="Manager" asp-action="Search" type="submit">
            <td><input name="casenumber" /></td>
            <td><input class="button" type="submit" value="Sök" /></td>
        </form>
    </tr>
</table>

@await Component.InvokeAsync("ErrandList")