@{
    Layout = "_CoordinatorLayout";
}

<p>
    Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
    Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
    Ange då nummer: @ViewBag.ErrandRefNumber
</p>

<p><a class="button" asp-controller="Coordinator" asp-action="StartCoordinator">Avsluta rapporteringen</a></p>